// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
  display: inline-block;
}

.field_with_errors input, .field_with_errors textarea {
  border-color: red;

}

.error {
  color: red;
}

table {
  font-size: 16px;
  border-collapse: collapse;
}
th {
  border: 1px solid black;

}
td {
    border: 1px solid black;
    white-space: nowrap;
}
.message {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
